@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@layer base {
  html {
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
  }
  body {
    background-color: #0f172a;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  *::-webkit-scrollbar {
    width: 0;
  }

  input,
  textarea,
  select,
  button {
    outline: none;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }

  /* Mobie: width < 740px */
  @media only screen and (max-width: 46.1875em) {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 16px;
    }
  }
}

.btn {
  color: white;
  padding: 14px 40px;
  border-radius: 12px;
  background: #0ea5e9;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 16px;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  backface-visibility: hidden;
  user-select: none;
}
.btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.25s linear;
  backface-visibility: hidden;
}

.btn:before {
  content: "Facebook";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all 0.25s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover:before {
  top: 0;
}
.btn:hover span {
  transform: translateY(300%);
}
